@model PartyInvites.Models.Guest

@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thanks</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
    <body class="text-center">
        <p>
            <h1>Thank you, @Model.Name</h1>
            @if (Model.WillAttend == true)
            {
                @:Thanks for attending.
            }
            else
            {
                @:Sorry to hear that you can't make it.
            }
        </p>

        <p>Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming.</p>
    </body>
</html>
