<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Submission Confirmed</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
    <p>
        <h1>Your CD has been succesfully created.</h1>
    </p>

    <p>Click <a class="nav-link" asp-action="Index">here</a> to return to the home page.</p>
</body>
</html>

