@model CDTRacker.Models.CD

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CD Form</title>
    <link href="~/css/Styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <div class="panel-heading text-center">
            <h2>CD Form</h2>
        </div>
        <div class="panel-body ">
            <form asp-action="CDForm" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label asp-for="Bank">Bank:</label>
                        <input class="form-control" asp-for="Bank" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Term">Term (in months):</label>
                        <input class="form-control" asp-for="Term" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Rate">Rate %:</label>
                        <input class="form-control" asp-for="Rate" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="DepositAmount">Deposit Amount:</label>
                        <input class="form-control" asp-for="DepositAmount" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="PurchaseDate">Purchase Date:</label>
                        <input class="form-control" asp-for="PurchaseDate" />
                    </p>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit CD</button>
                </div>

            </form>
        </div>
        
    </body>
</html>